<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="sql" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Utilizador\Documents\Bases de Dados\m17AB_Trabalho_Modelo_t2.mdf;Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
</configuration>